*{
    box-sizing:border-box;
}
body{
    background-color: #ffffff;
}

header{
    background-color:#ffffff;
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 12px;

}


header h1{
    color: #f0ae71 ;
    font-weight: bolder;
    float: left;
    font-family: 'Amatic SC', cursive;
}

h2{
    font-family: 'Raleway', sans-serif;
    color: #5DA38B;
}

header nav{
    float: right;
    padding: 0 30px;
    color: #f0ae71 ;
}

header nav ul li {
    display: inline-block;
    padding: 0 10px;
    font-family: 'Raleway', sans-serif; 
}

header nav ul li a {
    text-decoration: none;
    color: #f0ae71 ;
    text-transform: uppercase;
    font-size: 15px;
}

#logo{
    margin-top: 28px;
    margin-left: 3px;

}

main{
    margin-top: 120px;
    margin-bottom: 100px;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #706356;  
}

article ul li{
    font-family: 'Raleway', sans-serif;
    color:  #8A8578;
}

footer {
    clear: both;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    color: #f0ae71;
    padding: 15px;
    font-family: 'Raleway', sans-serif; 
    text-transform: uppercase;
   position: fixed;
   bottom: 0;
}

footer img{
    margin-top: 3px;
    margin-bottom: 0px;
}


table, th, td {
    border: 1px solid #8A8578;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #8A8578;
}

table tr td:first-child{
    font-weight: bolder;
}

table {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
      }

#hero {
        margin-top: 55px;
        background-image: url('../img/family.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 700px;
      }

      .locations h1 {
        margin-bottom: 0px;
        text-align: justify;
        font-size: 50px;
        margin-top: 100px;
      }
      #leftImg{
        float: left;
        padding-left: 250px;
        padding-right: 30px;
        margin-top: 10px;
    }
    .storesList {
      overflow: auto;
      margin-bottom: 17px;
      width: 460px;
      height: 320px;
      font-style: italic;
    }



    #family{
        text-align: center; 
        font-family: 'Amatic SC', cursive; 
        color: #f0ae71;
        font-weight: bold;
        font-size: 50px;
        
    }

    #add{
        text-align: center;
        margin-left: 215px;
        margin-top: 20px;
        background-color: #5DA38B;
        color:  #ffffff;
        font-family: 'Raleway', sans-serif; 
        border: none;
        padding: 8px 9px;
        font-weight: 1000;
    }

    #add:hover{
        background-color: #f0ae71;
        transition-delay: 350ms;
          }

    #add a{
        text-transform: uppercase;
        text-decoration: none;
        color: #ffffff;
    }

    form {
        width: 390px;
        margin-left: 565px;
        display: none;
    }
    
    fieldset {
        width: 100%;
    }
    
    ​fieldset input[type=text] {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        width: 390px;
    }​​
    
    fieldset p input[type=text] {
        width: 105px;
        margin: 0;
    }
    
    fieldset p input[type=text] + input[type=text] {
        float: right;
        width: 241px;
    }

    #submit{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #5DA38B;
        color:  #ffffff;
        font-family: 'Raleway', sans-serif; 
        border: none;
        padding: 8px 9px;
        font-weight: 1000;
        text-transform: uppercase;
    }

    #submit:hover{
        background-color: #f0ae71;
        transition-delay: 350ms;
          }

    #submit a{
        text-transform: uppercase;
        text-decoration: none;
        color: #ffffff;
    }

    input:invalid {
        border: 2px solid #8A8578;
      }
      
      input:valid {
        border: 2px solid #5DA38B;
      }

      input:focus:invalid {
        box-shadow: none;
      }

      .workingHours h1 {
        margin-bottom: 0px;
        text-align: justify;
        font-size: 50px;
        margin-top: 100px;
      }
      #leftImgHours{
        float: left;
        padding-left: 250px;
        padding-right: 30px;
        margin-top: 10px;
    }
    .hoursList {
      overflow: auto;
      margin-bottom: 17px;
      width: 460px;
      height: 320px;
      font-style: italic;
    }

    footer p{
        float: left;
        text-align: right;
        text-transform: none;
    }

    

